/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$deep-blue: #397CAC;


body {
  font-family: 'Lato', sans-serif;
  background: #EDEFF0;
}

.wrapper {
  width: 60%;
  max-width: 1140px;
  margin: 0 auto;
}

.clearfix:after { content: "\00A0"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.clearfix{ display: inline-block;}
html[xmlns] .clearfix { display: block;}
* html .clearfix{ height: 1%;}
.clearfix {display: block}

.main_header {
  background: white;
  width: 100%;
  margin: 0 auto;
  .wrapper {
    width: 80%;
  }
  #logo {
    float: left;
    a {
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: -1px;
      font-size: 1.2rem;
      text-decoration: none;
      color: $deep-blue;
    }
  }
  #buttons {
    float: right;
    a {
      background: $deep-blue;
      line-height: 60px;
      border-radius: .2em;
      padding: .5em 1em;
      color: white;
      text-decoration: none;
      font-weight: 100;
    }
  }

}

#posts {
  background-color: white;
  padding: 2em 5%;
  border-radius: .5em;
  .post {
    margin: 1em 0;
    padding: 1em 0;
    border-bottom: 1px solid #F1F1F1;
    .title {
      margin: 0;
      a {
        text-decoration: none;
        color: rgb(106, 146, 192);
        font-weight: 100;
        font-size: 1.5rem;
      }
    }
    .date {
      margin-top: .25rem;
      font-size: 0.9rem;
      color: #B2BAC2;
    }
  }
}

.button {
  color: $deep-blue;
  border: 1px solid $deep-blue;
  padding: .5em 1em;
  border-radius: 0.2em;
  text-decoration: none;
  margin-right: 2%;
}

#post_content {
  background: white;
  padding: 2em 5%;
  border-radius: .5em;
  h1 {
    font-weight: 100;
    font-size: 2em;
    color: $deep-blue;
    margin-top: 0;
  }
  p {
    color: #B2BAC2;
    font-size: 0.9rem;
    font-weight: 100;
    line-height: 1.5;
  }
  .comment_count {
    font-weight: 100;
    font-size: 1.2em;
    margin-bottom: 10px;
    float: right;
  }
  #comments {
    h2 {
      font-weight: 100;
      font-size: 1.2em;
      margin-bottom: 10px;
      float: right;
    }
    .comment {
      border-bottom: 1px solid #d1d1d1;
      padding-bottom: 1em;
      margin-bottom: 1em;
      .content {
        width: 75%;
        float: left;
      }
      .buttons {
        width: 25%;
        float: left;
        font-size: 0.8em;
        text-align: right;
        padding-top: 1.5em;
        a {
          color: $deep-blue;
          border: 1px solid $deep-blue;
          padding: .5em 1em;
          border-radius: 0.2em;
          text-decoration: none;
          margin-right: 2%;
        }
      }
      .comment_content {
        margin: 0;
        padding: 0;
      }
      .comment_author {
        color: $deep-blue;
        margin-top: .5rem;
        font-size: .6em;
        font-weight: 700;
      }
    }
    input[type="submit"] {
      background: $deep-blue;
      border: none;
      color: white;
      font-weight: 100;
      padding: 0.5em 1em;
      border-radius: .2em;

    }
    textarea {
      width: 100%;
      height: 150px;
    }
  }

}